.allProductsShopbyRoomCol {
  display: flex;
  justify-content: space-around;
}
.plankAllproductLabel {
  font-family: "Poppins", "sans-Serif";
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  color: black;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-bottom: 2%;
}

.cardInAllProducts {
  width: 20rem;
  height: 26rem;
  margin-right: 5%;
  border: none;
}
.cardInAllProducts .cardImage {
  width: 19rem;
  height: 26rem;
  object-fit: cover;
}
.cardBodyInAllProducts .cardTitle {
  font-family: "Poppins";
  font-size: 1.3rem !important;
  letter-spacing: normal;
  font-weight: 300 !important;
}

.cardInAllProductstypes {
  border: none;
}

.cardBodyInAllProductstypes .cardTitleItem {
  text-decoration: none !important;
  font-family: "Poppins";
  font-size: 1.05rem !important;
  font-weight: 500;
  letter-spacing: 1px;
}

.shopbyitem-plank-label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: 1px;
}

.allProductsShopbyItemCol {
  display: flex;
  justify-content: start;
}

.cardInAllProductstypes .cardIimage {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}
