.cartMainContainer {
  padding: 5% 8% 5% 6%;
}

.noOfItemsNote {
  padding-right: 2% !important;
}
.cartPageCheckoutCol {
  background: rgba(194, 207, 222, 0.3) 0% 0% no-repeat padding-box;
}
.cartPageCheckoutCol .list-group-item {
  background: transparent;
  display: flex;
  justify-content: space-between;
}
.noOfitems {
  padding-top: 2%;
}

.cartItemsListGroup {
  padding-left: 0 !important;
  padding-bottom: 1.5%;
}
.checkOutBtn {
  padding: 1rem 3.5rem 1rem 3.5rem;
  background-color: #c2cfde;
  color: white;
  border: 1px solid;
  font-family: Circe-Rounded-Bold;
  font-size: 1.5rem !important;
  letter-spacing: 1px;
  font-size: 110%;
}

.checkOutBtn-primary:hover,
.checkOutBtn-primary:focus,
.checkOutBtn-primary:active,
.checkOutBtn-primary:active:focus:not(:disabled):not(.disabled),
.checkOutBtn:focus,
.checkOutBtn:active,
.checkOutBtn:hover {
  background-color: transparent;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}

.selectQty .form-control,
.selectQty .form-control:hover,
.selectQty .form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(189, 189, 189);
  background-color: transparent;
  border-radius: 25px;
}

.selectleaseperiod {
  padding: 4%;
  border-radius: 25px;
}

.removeBtn-primary:hover,
.removeBtn-primary:focus,
.removeBtn-primary:active,
.removeBtn-primary:active:focus:not(:disabled):not(.disabled),
.removeBtn:focus,
.removeBtn:active,
.removeBtn:hover {
  background-color: transparent;
  color: black;
  box-shadow: none !important;
  outline: 0;
}

.priceinCart {
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333333;
}
