.login-account-btn {
  background-color: #c2cfde;
  color: white;
  max-width: 100%;
  border: 1px solid;
  white-space: nowrap;
}
.facebook-btn {
  background-color: #85b2ef;
  color: white;
  border: 1px solid;
  white-space: nowrap;
}
.hide {
  display: none;
}
.facebook-btn:hover {
  color: #85b2ef;
  background-color: white;
  border-color: #85b2ef;
  white-space: nowrap;
}

.the-login {
  object-fit: cover;
  height: 100vh;
}
.login-account-btn:hover {
  background-color: white;
  color: #c2cfde;
  border-color: #c2cfde;
  border: 1px solid;
}
.google-btn {
  background-color: #e39292;
  color: white;
  white-space: nowrap;
  border: 1px solid;
}
.google-btn:hover {
  background-color: white;
  border: 1px solid;
  border-color: #e39292;
  color: #e39292;
}
.hr-login-margin {
  margin-left: 20%;
  margin-right: 20%;
}

.plankloginForm .form-control,
.plankloginForm .form-control:hover,
.plankloginForm .form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(189, 189, 189);
  background-color: transparent;
}
