.customDropDown {
  border: 1px solid #7070704e;
  border-radius: 23px;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  width: 90%;
}
.addToCardBtn {
  width: 100%;
  background: #c2cfde 0% 0% no-repeat padding-box;
  border-radius: 50px;
  border: 1px solid #7070704e;
}

.addToCardBtn-primary:hover,
.addToCardBtn-primary:focus,
.addToCardBtn-primary:active,
.addToCardBtn-primary:active:focus:not(:disabled):not(.disabled),
.addToCardBtn:focus,
.addToCardBtn:active,
.addToCardBtn:hover {
  background-color: transparent;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}
.addTocart {
  background: rgba(194, 207, 222, 0.3);
}
.firstParagraph {
  font: normal normal 600 40px/50px poppins;
  letter-spacing: 0px;
  color: #333333;
}
.secondParagraph {
  font: normal normal normal 22px/34px poppins;
  letter-spacing: 0px;
  color: #333333;
}
.thirdParagraph {
  font: normal normal 600 26px/34px poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.details {
  font: normal normal normal 20px/34px poppins;
  letter-spacing: 0px;
  color: #333333;
}
.labeling {
  font: normal normal 600 18px/34px poppins;
  letter-spacing: 0px;
  color: #333333;
}
.buyNowText {
  font: normal normal 600 26px/34px poppins;
  letter-spacing: 0px;
  color: #333333;
}
.item-details-title {
  font: normal normal 600 30px/50px poppins;
  letter-spacing: 0px;
  color: #333333;
}
.selected-hr {
  height: 50px;
  border: none;
  color: #333;
  background-color: #333;
}
.item-details-header {
  text-align: left;
  font: normal normal 600 22px/34px poppins;
  letter-spacing: 0px;
  color: #333333;
}
.item-details-text {
  text-align: left;
  font: normal normal normal 18px/34px poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.lower-border {
  border-bottom: 1px solid #333333;
}
.add-cursor {
  cursor: pointer;
}
.item-details-title-2 {
  text-align: center;
  font: normal normal 600 35px/50px poppins;
  letter-spacing: 0px;
  color: #c2cfde;
}
.lower-border-2 {
  border-bottom: 1px solid #c2cfde;
}
.not-choosed {
  max-height: 0px;
  overflow-y: hidden;
}
.related-items-title {
  text-align: center;
  font: normal normal 600 30px/50px poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.relatedItemsName {
  font: normal normal normal 19px/29px poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.relatedItemsPrice {
  font: normal normal 600 19px/29px poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.sideImages {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
  display: none;
}

.firstimageContainer {
  position: relative;
  max-width: 50rem;
}
.firstimageContainer .firstColImg {
  position: block;
  min-width: 100%;
  min-height: 100%;
}
.popover {
  position: absolute;
  top: 5%;
  left: 52%;
  z-index: 0;
}
.popover-arrow {
  display: none !important;
}
.icon-tag1 {
  cursor: pointer;
  top: 3%;
  right: 3%;
  position: absolute;
  background: none;
  z-index: 0;
  width: 2.2rem !important;
  height: 2.2rem !important;
  opacity: 1;
}
.fade:not(.show) {
  opacity: 0;
  pointer-events: none;
}

.modal-heading {
  padding-bottom: 5px;
  font-family: "Poppins";
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: none;
}
.plank-wishlist-create-button {
  text-transform: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border: 1px dotted #c2cfde;
  background-color: #c2cfde;
  color: white;
}
.plank-wishlist-create-button-primary:hover,
.plank-wishlist-create-button-primary:focus,
.plank-wishlist-create-button-primary:active,
.plank-wishlist-create-button-primary:active:focus:not(:disabled):not(.disabled),
.plank-wishlist-create-button:focus,
.plank-wishlist-create-button:active,
.plank-wishlist-create-button:hover {
  background-color: transparent;
  color: black;
  box-shadow: none !important;
  outline: 0;
}

.wishlistButton {
  width: 100%;
  text-transform: none;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background-color: #c2cfde;
  color: white;
}
.wishlistButton-primary:hover,
.wishlistButton-primary:focus,
.wishlistButton-primary:active,
.wishlistButton-primary:active:focus:not(:disabled):not(.disabled),
.wishlistButton:focus,
.wishlistButton:active,
.wishlistButton:hover {
  background-color: white;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}
.modal-btn {
  width: 65%;
  text-transform: none;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background-color: #c2cfde;
  color: white;
}
.modal-btn-primary:hover,
.modal-btn-primary:focus,
.modal-btn-primary:active,
.modal-btn-primary:active:focus:not(:disabled):not(.disabled),
.modal-btn:focus,
.modal-btn:active,
.modal-btn:hover {
  background-color: white;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}
.modal-btn-login {
  width: 65%;
  text-transform: none;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #c2cfde;
  background-color: transparent;
  color: black;
}
.modal-btn-login-primary:hover,
.modal-btn-login-primary:focus,
.modal-btn-login-primary:active,
.modal-btn-login-primary:active:focus:not(:disabled):not(.disabled),
.modal-btn-login:focus,
.modal-btn-login:active,
.modal-btn-login:hover {
  background-color: #c2cfde;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}
.popup-submit-btn {
  background-color: #c2cfde !important;
  color: black;
  border: 1px solid #c2cfde !important;
}
.createNewWishListForm .form-control,
.createNewWishListForm .form-control:hover,
.createNewWishListForm .form-control:focus,
.createNewWishListForm .form-select,
.createNewWishListForm .form-select:hover,
.createNewWishListForm .form-select:focus {
  box-shadow: none;
  border: 1px solid rgb(189, 189, 189);
  background-color: transparent;
  border-radius: 25px;
}
.popup-submit-btn-primary:hover,
.popup-submit-btn-primary:focus,
.popup-submit-btn-primary:active,
.popup-submit-btn-primary:active:focus:not(:disabled):not(.disabled),
.popup-submit-btn:focus,
.popup-submit-btn:active,
.popup-submit-btn:hover {
  background-color: transparent !important;
  color: black !important;
  box-shadow: none !important;
  border: 1px solid #c2cfde !important;
  outline: 0;
}

.cancel {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.cancel:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}

.contentheading {
  font-family: "Roboto";
  font-size: 1rem;
  color: #333333;
  font-weight: bold;
}

.contentpara {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 400;
}

.contentHeading2 {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 1px;
}
.contentPara2 {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: 400;
}
