.main-Container {
  border: 1px solid rgba(194, 207, 222, 1);
}

.footerlogo .logo {
  width: 150px;
  height: 50px;
  margin-bottom: 4%;
}
.innerContainer {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-top: 1%;
}

.plank-brief {
  width: 412px;
  height: 77px;
  text-align: left;
  margin-bottom: 5px;
  font-family: Poppins-regular;
  font-size: 14px;
  letter-spacing: 0px;
  color: #808080;
  opacity: 1;
}

.cardItem {
  border: none;
}

.plank-footer-links {
  width: 30%;
}
/* .plank-footer-links .Images {
  margin-left: 20px;
} */

.cardtitle {
  text-align: left;
  font: normal normal bold 18px/29px Circe-Rounded-Bold;
  letter-spacing: 0px;
}

.textcard {
  text-decoration: none;
  font-family: Circe-Rounded-Light;
  font-size: 15px;
  padding-bottom: 2px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: Poppins-regular;
  font-size: 12px;
  letter-spacing: 0px;
  color: #aeaeae;
  opacity: 1;
  margin: 15px;
}
