.producttitle {
  font-family: Adrianna-5;
  font-size: 1.2rem;
}

.productcard {
  min-height: 100% !important;
}
.createNewWishListForm .form-control,
.createNewWishListForm .form-control:hover,
.createNewWishListForm .form-control:focus,
.createNewWishListForm .form-select,
.createNewWishListForm .form-select:hover,
.createNewWishListForm .form-select:focus {
  box-shadow: none;
  border: 1px solid rgb(189, 189, 189);
  background-color: transparent;
  border-radius: 25px;
}
.cardImageProductListing {
  cursor: pointer;
  height: 100%;
}
.cardImageProductListing .card-img-top {
  min-height: 100%;
  object-fit: fill;
}

.productprice {
  text-align: left;
  font-family: Adrianna-5;
  font-size: 1.6rem;
  font-weight: 500 !important;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.productBuyPrice {
  padding-top: 2%;
  font-family: Adrianna-5;
  font-size: 1rem;
  font-weight: 300 !important;
  letter-spacing: -0.5px;
  color: #333333;
  opacity: 1;
  padding-bottom: 1.5%;
  margin-bottom: 0 !important;
}
.productBuyPrice span {
  font-size: 1.2rem;
}
.block-icon {
  position: relative;
  display: inline-flex;
}

.icon-tag {
  cursor: pointer;
  position: absolute;
  background: none;
  top: 3%;
  right: 4%;
  z-index: 0;
  width: 24px !important;
  height: 24px !important;
  opacity: 0;
}

.productCard:hover .icon-tag {
  opacity: 1;
}
.modal-heading {
  padding-bottom: 5px;
  font-family: "Poppins";
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: none;
}
.plank-wishlist-create-button {
  text-transform: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: 1px dotted #c2cfde;
  background-color: #c2cfde;
  color: white;
}
.plank-wishlist-create-button-primary:hover,
.plank-wishlist-create-button-primary:focus,
.plank-wishlist-create-button-primary:active,
.plank-wishlist-create-button-primary:active:focus:not(:disabled):not(.disabled),
.plank-wishlist-create-button:focus,
.plank-wishlist-create-button:active,
.plank-wishlist-create-button:hover {
  background-color: transparent;
  color: black;
  box-shadow: none !important;
  outline: 0;
}

.wishlistButton {
  width: 100%;
  text-transform: none;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background-color: #c2cfde;
  color: white;
}
.wishlistButton-primary:hover,
.wishlistButton-primary:focus,
.wishlistButton-primary:active,
.wishlistButton-primary:active:focus:not(:disabled):not(.disabled),
.wishlistButton:focus,
.wishlistButton:active,
.wishlistButton:hover {
  background-color: white;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}
.modal-btn {
  width: 65%;
  text-transform: none;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background-color: #c2cfde;
  color: white;
}
.modal-btn-primary:hover,
.modal-btn-primary:focus,
.modal-btn-primary:active,
.modal-btn-primary:active:focus:not(:disabled):not(.disabled),
.modal-btn:focus,
.modal-btn:active,
.modal-btn:hover {
  background-color: white;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}
.modal-btn-login {
  width: 65%;
  text-transform: none;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #c2cfde;
  background-color: transparent;
  color: black;
}
.modal-btn-login-primary:hover,
.modal-btn-login-primary:focus,
.modal-btn-login-primary:active,
.modal-btn-login-primary:active:focus:not(:disabled):not(.disabled),
.modal-btn-login:focus,
.modal-btn-login:active,
.modal-btn-login:hover {
  background-color: #c2cfde;
  color: black;
  box-shadow: none !important;
  border: 1px solid #c2cfde;
  outline: 0;
}

.popup-submit-btn {
  background-color: #c2cfde !important;
  color: black;
  border: 1px solid #c2cfde !important;
}

.popup-submit-btn-primary:hover,
.popup-submit-btn-primary:focus,
.popup-submit-btn-primary:active,
.popup-submit-btn-primary:active:focus:not(:disabled):not(.disabled),
.popup-submit-btn:focus,
.popup-submit-btn:active,
.popup-submit-btn:hover {
  background-color: transparent !important;
  color: black !important;
  box-shadow: none !important;
  border: 1px solid #c2cfde !important;
  outline: 0;
}

.cancel {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.cancel:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}
@media (max-width: 784px) {
  .productprice {
    font-size: 1.18rem;
  }
  .producttitle {
    font-size: 0.9rem;
  }
}
